{% extends 'base.html.twig' %}

{% block title %}A propos de Boudia{% endblock %}

{% block body %}



<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="row py-3" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 1189.81px;">
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

        <div class="card-body">
        
          <p class="card-text">Passionnée par les matières, je suis désireuse d’offrir des produits d’une qualité unique. Chaque composant est sélectionné avec attention. Toutes les pièces sont imaginées, dessinées et produites dans le but de proposer aux femmes des produits de qualités.   
</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 0px;">
      <div class="card p-3">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p>Je m’appelle Boudia Sylla, je suis née en France de parents Maliens et Sénégalais. Je me lance actuellement dans la création de ma marque de lingerie et de culottes menstruelles « BOUDIA ».  
Mon objectif est de développer une marque en harmonie avec son environnement et qui prône une mode éthique, durable et créative, tout en mettant l’accent sur la qualité et le respect des normes d’hygiène lors de la production des différents produits.
 Chacun de mes modèles raconte une histoire et permet ainsi de faire un clin d’œil à mes origines.</p>
          </blockquote>
          
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 251.983px;">
      <div class="card">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

        <div class="card-body">
          <p class="card-text">Je propose 2 gammes de produits :<br>
•	Un ensemble de lingerie composé de soutien-gorge sans armature et de culotte.<br>
•	Une gamme de lingerie menstruelle, composée de soutien-gorge sans armature et de culotte menstruelle. Ces culottes sont pensées pour remplacer les protections jetables, non écologiques et nocives pour la santé.
</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 433.915px;">
      <div class="card text-bg-primary text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>Je souhaite que chaque femme puisse être à l’aise tout en se sentent belle pendant cette période.</p>
          </blockquote>
         
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 623.909px;">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Je suis passionnée de mode depuis toujours, l’idée de créer un jour ma marque a toujours été un rêve. </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 653.909px;">
      <div class="card">
        <svg class="bd-placeholder-img card-img" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text></svg>

      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 825.835px;">
      <div class="card p-3 text-end">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>J’ai la volonté d’aider les femmes à bénéficier de produits de qualité, en accord avec l’environnement. </p>
          </blockquote>
          
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 939.898px;">
      <div class="card">
        <div class="card-body">
          
          <p class="card-text">Une partie des produits sera fabriquée en France et une autre partie en Afrique. 
Je suis en train de créer mon propre atelier de confection au Sénégal composé de jeunes femmes. Mon objectif est de promouvoir le travail des femmes et de les rendre autonomes dans un pays où les femmes dépendent souvent des hommes.
</p>
          
        </div>
      </div>
    </div>
  </div>



{% endblock %}
