{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}


{% block body %}


<div class="zoneCard">  
    {% for produit in produits %}


    <a href="{{path('app_produit_show', {id: produit.id})}}" class="card-link">
        <div class="card h-50 "  style="width: 12rem " >
            <div class="d-flex">
            
            <img src="{{  asset('/uploads/' ~ produit.images[0].nom) }}" class="card-img-top" alt="image" width="200" height="200" >
            
            </div>

            <div class="card-body ">
                <h6 class="card-title">{{ produit.titre }}</h6>
            </div>

            
                <p class="list-group-item">{{ produit.prix }} €</p>
            </a>
            
        </div>
    

            {% else %}
                <div>
                    <p>Aucun produit</p>
                </div>

    {% endfor %}
</div>       
    

{% endblock %}
